<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BreakRealm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3D9EFCE1D315BFD005B16E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3D9EFE21D315BFD005B16E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3D9EFED1D315BFD005B16E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
